  .container {
    max-width: 960px;
  }
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  .overflow-hidden { overflow: hidden; }
  .body__desktopImage {
    height: 100%;
    width: 100%;
    max-height: 636px;
  }
  .body__donate-absolute-container {
    position: absolute;
    left: 20px;
    top: 60px;
  }
  .body__donate-absolute-container-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .body__title {
    margin-right: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
  }
  .body__money-box-conatiner {
    padding: 40px 110px 40px 100px;
  }
  .body__progressbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .dashboard__last-donation-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
  }
  .dashboard__progressbar {
    width: 100%;
    margin-right: 10px;
  }
  .dashboard__progressbar-bus-text {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
    color: white;
  }
  .dashboard__progressbar-bus-text-circle {
    background-color: green;
    padding: 6px 12px 6px 12px;
    border-radius: 20px;
  }
  .dashboard__pregress-subtitle {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
  }
  @media only screen and (max-width: 900px) {
    .body__money-box-conatiner {
      padding: 40px;
    }
    .dashboard__payment-container {
      padding: 40px;
    }
  }
  @media only screen and (max-width: 500px) {
    .body__money-box-conatiner {
      padding: 20px;
    }
    .dashboard__payment-container {
      padding: 20px;
    }
  }
  @media only screen and (max-width: 400px) {
    .body__money-box-conatiner {
      padding: 10px;
    }
    .dashboard__payment-container {
      padding: 10px;
    }
  }